{% extends "base.html" %}
{% set title = "Articles" %}
{% set main_class = "articles" %}

{% block head %}
        <style>
            .articles {
                width: 90%;
                max-width: 580px;
            }

            .articles section {
                width: 100%;
            }

            .articles a:link, .articles a:visited {
                color: #4f8e45;
                text-decoration: none;
            }

            .articles > ul {
                width: 100%;
                text-align: left;
                font-size: 19px;
                display: inline-block;
                list-style-type: none;
                border: 1px solid rgba(0, 0, 0, .13);
                box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
            }

            .articles > ul > li {
                display: flex;
                line-height: 38px;
                padding: 0 15px;
                border: 1px solid rgba(0, 0, 0, .13);
                border-width: 0 0 1px;
            }

            .articles > ul > li > a.title {
                flex: auto;
            }

            .articles > ul > li > a.edit {
                display: none;
            }

            .articles > ul > li:hover {
                background-color: #f3f3f3;
            }

            .articles > ul > li:hover > a.edit {
                display: inline-flex;
            }
        </style>
{% endblock %}

{% block content %}
            <section class="articles">
                <ul>
                {% for article in articles %}
                    <li><a href="/articles/{{ article._id }}" class="title">{{ article.title }}</a>
                        {%- if admin -%}
                            <a href="/articles/{{ article._id }}/edit" class="edit">edit</a>
                        {%- endif -%}
                    </li>
                {% endfor %}
                </ul>
            </section>
{% endblock %}
