{% extends "base.html" %}
{% set title = "Edit" %}

{% block head %}
<link rel="stylesheet" href="/static/lib/editor.md/css/editormd.min.css" />
<style>
    #test-editormd {
        margin-top: 50px !important;
    }
</style>
{% endblock %}

{% block content %}
<div id="test-editormd" article_id="{{ article_id }}"></div>
<!--<script src="js/require.min.js"></script>-->
<script src="/static/js/dialog.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/lib/editor.md/editormd.js"></script>
<script type="text/javascript">
    var updating = false;
    function updateMarkdown() {
        if (updating)
            return;
        updating = true;

        var markdown = editor.getMarkdown();
        if (!markdown)
            return;
        var markdown_id = $("#test-editormd").attr("article_id");
        putMarkdown(markdown_id, markdown);
    }

    function putMarkdown(mid, md) {
        var dialog = dialogs.showDialog('正在保存...');
        $.ajax({
            url: "/articles/" + mid,
            method: "PUT",
            data: {markdown: md},
        }).done(function(data) {
            dialog.update("<nobr>保存成功</nobr>");
        }).fail(function() {
            dialog.update("<nobr>保存失败</nobr>");
        }).always(function() {
            setTimeout(function() {
                dialog.dimission();
            }, 800);
            updating = false;
        });
    }

    function fetchMarkdown(mid) {
        $.ajax('/articles/' + mid, {
            beforeSend: function(xhrObj){
                xhrObj.setRequestHeader("Accept","application/json");
            },
            success: function(data) {
                editor.setMarkdown(data["markdown"]);
            }
        });
    }

    function uploadImages(images) {
        var dialog = dialogs.showDialog('正在上传图片:');
        var formData = new FormData();
        $.each(images, function(index, image) {
            formData.append('file', image);
        });

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/images');
        xhr.upload.onprogress = function (event) {
            if (event.lengthComputable) {
                var percent = (event.loaded / event.total * 100 | 0);
                dialog.update("<nobr>正在上传图片:" + percent + "%</nobr>");
            }
        };
        xhr.onload = function () {
            if (xhr.status === 200) {
                dialog.update("<nobr>上传图片成功</nobr>");
                $.each(JSON.parse(xhr.response)['images'], function(index, name) {
                    editor.cm.replaceSelection('![](/images/' + name + ')\n');
                });
            } else {
                dialog.update("<nobr>上传图片失败</nobr>");
                console.log('Something went terribly wrong...');
            }

            setTimeout(function() {
                dialog.dimission();
            }, 800);
        };
        xhr.send(formData);
    }

    $(function() {
        editor = editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            path    : "/static/lib/editor.md/lib/",
            toolbar : false,
            lineNumbers: false,
            onload  : function() {
                var markdown_id = $("#test-editormd").attr("article_id");
                if (markdown_id) {
                    fetchMarkdown(markdown_id);
                }

            }
        });

        document.onkeydown = function(e) {
            if ((e.metaKey || e.ctrlKey) && 83 == e.which) {
                e.preventDefault();
                updateMarkdown();
            }
        };

        document.ondrop = function(e) {
            var acceptedTypes = ['image/png','image/jpeg', 'image/gif'];
            var uploadFile = false;
            var images = [];
            $.each(e.dataTransfer.files, function(index, file) {
                if (-1 != $.inArray(file.type, acceptedTypes)) {
                    uploadFile = true;
                    images.push(file);
                }
            });

            if (uploadFile) {
                uploadImages(images);
            }

            return false;
        };

        document.ondragover = function(event) {
            return false;
        };

        editor.fullscreen(); // bug
    });
</script>
{% endblock %}
